body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}
.nav-bar-social-icons {
    display:flex;
    gap:30px;
    justify-content: right;
}
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%; /* Adjust as needed */
    background: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px;
}

.marquee {
    display: inline-block;
    padding-left: 100%; /* Push the text outside the container */
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
    background-color: #fff;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h3,
.product p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: inherit;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  
